@use "../variables" as *;

// SKILLS SECTION ------------------------------------

.skills-section {
  background-color: $pink;
  padding: 10% 0 15%;

  h3,
  p {
    color: $black;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-1,
  .skill-2,
  .skill-3 {
    width: 14rem;
    height: 14rem;
    background-color: $yellow;
  }

  .skill-1 {
    background-color: $yellow;
  }
  .skill-2 {
    background-color: $pink;
  }

  .skill-3 {
    background-color: $grey;
  }
}

.skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.skills-icon-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 0% 1%;
  transition: 500ms;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
  min-height: 130px;
  min-width: 130px;
  margin-top: 2%;
}

.brand-icon{
  padding: 20px 10px;
  color: $black;
  min-width: 10rem;
height: auto;
}